// Specific CSS for your home-page
#form {
  background-color: white;
  padding: 30px 20px;
  border-radius: 8px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.fab {
  color: $red;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 70px;
}

#home-banner {
  margin-bottom: 0;
  background-position: bottom;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
}

.card:hover {
  font-weight: bold;
  border: 1px solid grey;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 10px;
  position: relative;
}

#planet-card a:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 5%;
  font-weight: bold;
  font-family: "Tomorrow";
}

.card-body h5 {
  font-family: "Tomorrow";
}

.card-body p {
  font-family: "Tomorrow";
}

.booking-item {
  border: 1px solid #F4F4F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#planet-title a {
  color: $red;
  font-weight: bold;
}

.booking-item a {
  text-decoration: none;
}

#planet-title a:hover {
  color: grey;
}

.btn-center {
  text-align: center;
}

.btn-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
