#travel-time {
width: 250px;
padding: 10px;
}

#capacity {
width: 250px;
padding:10px 10px 10px 0px;
}

.capacity-travel-box {
  display: flex;
  justify-content: space-between;
}

#planet {
text-align:left;
}

#price {
  margin-top: 10px;
  padding-bottom: 30px;
  padding-left: 150px;
}

#booking-form {
  padding-left: 150px;
}

#reviews {
  margin-top: 25px;
}

#description {
  margin-top: 25px;
}
