#travel-time {
width: 250px;
padding: 10px;
}

#capacity {
width: 250px;
padding:10px 10px 10px 0px;
}

.capacity-travel-box {
  display: flex;
  justify-content: space-between;
}

#planet{
text-align:left;
}
