<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Congrats! Your booking is confirmed <i class="far fa-calendar-check"></i></h1>
      <h1>Happy spacing!</h1>
      <div class="btn-center">
          <%= link_to 'View your bookings', bookings_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
