 <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @planet.photo %>);">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
          <h2><strong><%= @planet.name %></strong></h2>
          <br>
        <div class="d-flex capacity-travel-box">
          <div id="capacity">
            <h4>👫 Capacity</h4>
            <p>Your travel time is 3 hours</p>
          </div>
          <div id="travel-time">
            <h4>⏳ Travel time</h4>
            <p>Your total space travel time is 6 months</p>
          </div>
        </div>
          <h3>Description</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="col-6">
        <p>Daily price: <%= @planet.price%>€</p>
        <p>Book</p>
      </div>
    </div>
</div>

