<div class="banner" id= "home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1571769267292-e24dfadebbdc?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4">
        <h1 class="text-left">SpaceBnB is the leading space travel agency!</h1>
        <br>
        <p>Change your life and book your next holiday in space on one of our allied planets.</p>
      </div>
      <div class="col-4" id="form">
        <h2 id="search-title" align="center"><strong>Start your trip! 🔭</strong></h2>
        <%= form_tag planets_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "Search your rocket launch site"
          %>
          <br>
          <%= submit_tag "Search", class: "btn btn-danger btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
